@import url("./index.css");

.navbar {
    opacity: 1;
    animation: none;
    transition: all 1s ease;
}

/* Animations */

@keyframes easeInToRight{
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes HR-Enter-Main{
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes HR-Enter-Skills{
    0% {
        width: 0px;
    }
    100% {
        width: 250px;
    }
}

#main__title {
    opacity: 0;
    animation: 0.7s ease 0.5s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

#main__subtitle {
    opacity: 0;
    animation: 0.7s ease 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.main__content h3{
    opacity: 0;
    animation: 0.7s ease 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.main__container {
    animation: none;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    justify-self: left;
    text-align: left;
}

.paragraph {
    text-align: right;
    font-size: 1.6rem;
    opacity: 0;
    animation: 1s alternate 1s 1 easeInToTop;
    animation-fill-mode: forwards;
}

.main__content h1{
    text-align: left;
    opacity: 1;
}

.main__content img{
    border: 4px solid var(--main-accent-color);
    border-radius: 50%;
    height: 200px;
    width: auto;
    align-self: left;
    animation: 0.7s ease 0s 1 easeInToRight;
    animation-fill-mode: forwards;
}

.main__content h2 {
    text-align: left;
}

hr {
    border: 3px solid whitesmoke;
    border-radius: 7px 7px 7px 7px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* padding: 2px auto; */
}
#divider {
    width: 0%;
}

#divider.active {
    animation: 0.7s ease 0s 1 HR-Enter-Main;
    animation-fill-mode: forwards;
}

#skills__title{
    opacity: 0%;
}

#skills__title.active{
    animation: 0.7s ease 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.skills{
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.skills__divider {
    border: 3px solid whitesmoke;
    border-radius: 7px 7px 7px 7px;
    width: 0%;
    justify-content: left;
    align-items: left;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
    padding: 50px auto;
}

.skills__divider.active {
    animation: 0.7s ease 0.3s 1 HR-Enter-Skills;
    animation-fill-mode: forwards;
}

.skills h1 {
    font-size: 5rem;
}
.skills i {
    font-size: 4.5rem;
}
.skills h2{
    font-size: 2rem;
}
.skills span{
    font-size: 1.3rem;
}
.skills span.greyed {
    color: grey;
}
.skills__category{
    display: flex;
    padding: 50px 0px 50px 0px;
}

.category__titles{
    opacity: 0%;
}

.category__titles.active{
    animation: 0.7s ease 1s 1 easeInToTop;
    animation-fill-mode: forwards;
}

.skills__item{
    display: inline-block;
    width: 200px;
    justify-self: left;
    text-align: center;
    padding: 5px 15px;
    opacity: 0%;
}

.skills__item.active{
    animation: 0.7s ease 1s 1 easeInToRight;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1000px) {
    .main__container{
        display:inline;
    }
    .main__content h2 {
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.4rem;
        margin: 10px;
        text-align: left;
    }
    .main__content{
        margin: 10px;
    }
    hr {
        border: 3px solid whitesmoke;
        border-radius: 7px 7px 7px 7px;
        width: 75%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 50px auto;
    }
    .skills{
        margin: 0 auto;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }
    .skills h1{
        font-size: 3rem;
    }
    .skills__category{
        display: inline-block;
        padding: 20px 0px 20px 0px;
    }
}

@media screen and (max-width: 510px){
    .skills{
        position: absolute;
    }
    .skills__category{
        display: grid;
        position: relative;
        right: 50px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: auto 0px auto 0px;
    }
    .skills__item i {
        font-size: 2.5rem;
    }
    .skills__item h2, h3{
        font-size: 1rem;
    }
}

@media screen and (max-width: 412px){
    .skills{
        position: absolute;
    }
    .skills__category{
        display: grid;
        position: relative;
        right: 50px;
        grid-template-columns: 150px 150px;
        padding: auto 0px auto 0px;
    }
    .skills__item i {
        font-size: 2.5rem;
    }
    .skills__item h2, h3{
        font-size: 1rem;
    }
}