@import url("./index.css");

.navbar {
    opacity: 1;
    animation: none;
    transition: all 1s ease;
}

@keyframes easeInToRight{
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#main__title {
    opacity: 0;
    animation: 0.7s ease 0.5s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

#main__subtitle {
    opacity: 0;
    animation: 0.7s ease 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.main__content h3{
    opacity: 0;
    animation: 0.7s ease 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.main__container {
    animation: none;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    justify-self: left;
    text-align: left;
}

.paragraph {
    text-align: right;
    font-size: 1.6rem;
    opacity: 0;
    animation: 1s alternate 1s 1 easeInToTop;
    animation-fill-mode: forwards;
}

.main__content h1{
    text-align: left;
    opacity: 1;
}

.main__content img{
    border: 4px solid var(--main-accent-color);
    border-radius: 50%;
    height: 200px;
    width: auto;
    align-self: left;
    animation: 0.7s ease 0s 1 easeInToRight;
    animation-fill-mode: forwards;
}

.main__content h2 {
    text-align: left;
}

hr {
    border: 3px solid whitesmoke;

}
.skills h1 {
    font-size: 5rem;
}
.skills i {
    font-size: 4.5rem;
}
.skills h2{
    font-size: 2rem;
}
.skills span{
    font-size: 1.3rem;
}
.skills span.greyed {
    color: grey;
}
.coding__skills{
    display: flex;
}
.coding__item{
    display: inline-block;
    width: 200px;
    justify-self: left;
    text-align: center;
    padding: 5px 15px;
}

@media screen and (max-width: 1000px) {
    .main__container{
        display:inline;
    }
    .main__content h2 {
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.4rem;
        margin: 10px;
        text-align: left;
    }
    .main__content{
        margin: 10px;
    }
}