* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Core color variables */

:root {
    --main-bg-color: #131313;
    --main-fg-color: whitesmoke;
    --main-hover-color: #C1E1C1;
    --main-accent-color: #77DD77;
}

body {
    background-color: var(--main-bg-color);
}

.main {
    color: var(--main-fg-color);
}

.main__container{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content h1 {
    font-size: 7rem;
}

.main__content h2 {
    font-size: 3rem;
}

.main__content p {
    font-size: 1.6rem;
    padding: 13px 0;
}


/* Animations */

@keyframes easeInToTop{
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes easeInToBottom{
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes easeInToLeft{
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes easeOutToRight{
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

/* Additional Containers */

.next__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: right;
    justify-self: center;
    text-align: left;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    opacity: 0;
    animation: 1s ease-out 1s 1 easeInToLeft;
    animation-fill-mode: forwards;
}

.next__content h1 {
    font-size: 7rem;
}

.next__content h2 {
    font-size: 3rem;
}

.next__content p {
    font-size: 1.6rem;
    padding: 13px 0;
}



/* Main Links */

.main__links {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    font-size: 3rem;
    opacity: 0;
    animation: 0.5s ease-out 1.5s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.main__links a{
    color: var(--main-fg-color);
    margin: 0 10px;
    text-decoration: none;
}

.main__links a:hover{
    color: var(--main-hover-color);
    transition: all 0.3s ease;
}

/* Animate Title */

#main__title {
    animation: 1s ease-out 0s 1 easeInToTop;
}

#main__subtitle {
    opacity: 0;
    animation: 0.5s ease-out 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}
#main__paragraph {
    opacity: 0;
    animation: 0.5s ease-out 2s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

/* Navbar Shit */

.navbar {
    background: #242424;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    opacity: 0;
    animation: 0.5s ease-out 2s 1 easeInToBottom;
    animation-fill-mode: forwards;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    fill: var(--main-fg-color);
    align-items: center;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    height: 60px;
    transform: translate(0px,10px);
}

#navbar__logo:hover {
    fill: var(--main-hover-color);
    transition: all 0.3s ease;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color:var(--main-accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #d4efdf;
    color: #000;
}
.button:hover {
    background:  #145a32; 
    transition: all 0.3s ease;
    color: #fff;
}

.navbar__links:hover {
    color: var(--main-hover-color);
    transition: all 0.3s ease;
}

/* Mobile adjustments */

@media screen and (max-width: 1000px) {
    .main__content h1 {
        font-size: 4rem;
    }
    .main__content h2 {
        font-size: 1.4rem;
    }
    .main__links {
        font-size: 3rem;
    }
    .main__content p {
        font-size: 1rem;
    }

    .next__content h1 {
        font-size: 2rem;
    }
    .next__content h2 {
        font-size: 1.4rem;
    }
    .next__content p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 4rem;
    }
    .main__content h2 {
        font-size: 1.4rem;
    }
    .main__links {
        font-size: 3rem;
    }
    .main__content p {
        font-size: 1.3rem;
    }

    .next__content h1 {
        font-size: 2rem;
    }
    .next__content h2 {
        font-size: 1.4rem;
    }
    .next__content p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 960px) { 
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: none;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        animation: 0.4s ease-out 0s 1 easeOutToRight;
        animation-fill-mode: forwards;
        opacity: 0;
        transition: all 1;
        top: 1000px;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active {
        display: grid;
        background: #242424;
        top: 100%;
        opacity: 1;
        /* transition: all 0.5s ease-out; */
        animation: 0.4s ease-in-out 0s 1 easeInToLeft;
        animation-fill-mode: forwards;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}